.front-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    gap: 1rem;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1rem; /* Space between logo and name */
}

.logo-container {
    flex: 1 1 50px; /* Flexible but won’t shrink below 50px */
    max-width: 70px; /* Ensures it doesn’t grow too large */
}

.logo-name {
    flex: 2 1 150px; /* Flexible but retains a minimum width of 150px */
}

.quick-search,
.message-headers,
.messages {
    width: 95%;
    max-width: 1200px;
    padding: 0.5rem;
}

.quick-search {
    flex: 1 1 auto; /* Adapts flexibly */
}

.message-headers {
    flex: 1 1 auto;
}

.messages {
    flex: 7 1 auto;
    overflow-y: auto; /* Adds scroll if content exceeds available height */
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.main-body {
    display: flex;
    flex-direction: column;
}
